<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNGAnnotations.KeywordsInTestNg"/>
      <class name="testNGAnnotations.PriorityKeywordInTestNg"/>
      <class name="testNGAnnotations.BasicAnnotations"/>
      <class name="actiTimeTest.PageFactoryTest"/>
      <class name="testNGAnnotations.ActitimeLogoVerify"/>
      <class name="testNGAnnotations.Annotations"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
